.container{
    width: 1000px;
    height: 370px;
    background-color: blue;
    margin: 0 auto;
}
.box{
    width: 1000px;
    height: 370px;
    background-color: rgb(39, 255, 19);
    margin: 0 auto;
}
.row{
    width: 190px;
    height: 350px;
    background-color: brown;
    margin: 5px;
    float: left;
    border-radius: 10px;
}
img{
    width: 150px;
    height: 150px;
}

.nom p{
    font-size: 22px;
    color: black;
    margin: 5px 12px;

}
.icont span{
    margin: 12px;
    font-size: 24px;
    background-color: rgb(255, 204, 0);
}
H6,H5,H4,h3,H2,h1{
    font-size: 15px;
    margin: 5px 15px;
}
.BUTTON button{
    padding: 10px 20px;
    margin-left: 12px;
    border-radius: 10px;
}
.box{
    width: 1000px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.row{
    width: 190px;
    height: 350px;
    background-color: rgb(183, 183, 183);
    margin: 5px;
    float: left;
    border-radius: 20px;
    border-radius: 10px;
    margin-left: 100px;
}
img{
    width: 190px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;

}

.nom p{
    font-size: 22px;
    color: black;
    margin: 5px 12px;

}
.icont span{
    margin: 12px;
    font-size: 24px;
    background-color: rgb(255, 204, 0);
}
H6,H5,H4,h3,H2,h1{
    font-size: 15px;
    margin: 5px 15px;
}
.BUTTON button{
    padding: 10px 20px;
    margin-left: 12px;
    border-radius: 10px;
}

.butt{
border: none;
color: rgb(0, 0, 0)y;

}
